body {
	margin: 0;
	padding: 0;
}

/* The background is moving from left to right */
.background {
	height: 100vh;
	background: url(bg.jpg);
	background-position: bottom left;
	/* duration changes speeds of moving speed */
	animation: driving 30s linear infinite;
}

/* card and bike are at the same position */
.car {
	position: absolute;
	left: 300px;
	bottom: -50px;
	width: 200px;
}

.motorbike {
	position: absolute;
	left: 700px;
	bottom: 55px;
	width: 150px;
}

@keyframes driving {
	from { background-position: bottom left; }

	to { background-position: bottom right; }
}