body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffa65;
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
}

ul li a{
    text-decoration: none;
    display: block;
    /* padding: 10px 15px; */
    margin: 0px 10px;
    position: relative;
    width: 120px;
    /* line-height and height set to same value will center the text vertically */
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    transition: all .5s;
    color: #262626;
}

a:hover{
    color: white;
}

ul li span{
    position: absolute;
    /* can swap width and height */
    width: 25%;
    height: 100%;
    background-color: #262626;
    z-index: -1;
    left: 0;
    top: 0;
    transform: scaleY(0);
    transition: all .5s;
    /* set starting point from the transform can change directions */
    transform-origin: top;
}

a:hover span{
    /* can change to X */
    transform: scaleY(1);
}

/* can set delay to make like a cascade effect */
span:nth-child(2){
    /* can swap left to top to make other effects */
    left: 25%;
    transition-delay: .15s;
}

span:nth-child(3){
    left: 50%;
    transition-delay: .3s;
}

span:nth-child(4){
    left: 75%;
    transition-delay: .45s;
}