body {
	padding:0;
	margin:0;
	background: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
} 


.rain {
	height: 100%;
	background: url(rain.png);
	animation: rain .3s linear infinite;
} 

/* set the initial pos and final pos */

@keyframes rain {
	0% { background-position: 0% 0%; }

	100% { background-position: 20% 100%; }
}
